aside .main {
    width: 357px;
    height: 503px;
}

.weekly_pinned_item {
  left: 0px;
  top: 0px;
  height: 105px;
  border-radius: 20px;
  background: #ffffff;
  background-blend-mode: normal;
  box-shadow: 10px 30px 30px 3px rgba(177,188,199,0.15);
  margin-top:20px;
  margin-bottom:20px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.weekly_todo {
  padding-left: 20px;
  font-size: 18px;
}

.icon {
  left: 0px;
  top: 0px;
  width: 45px;
  height: 45px;
  border-radius: 11.9px;
  background: #f8d57e;
  background-blend-mode: normal;
}

#add_task {
  padding: 65px 317px 66px 60px;

}

#add_task span {
  font-size: 20px;
  padding-left: 12px;
}

.main, .footer {
  padding-left: 60px;
  padding-right: 60px;
}

.bar {display: flex;}

.bar span {
  color:#F4B860;
  font-size: 14px;
  padding-right: 10px;
}

.bar div {
  flex-grow: 1;
  font-size: 24px;
}

.bar img {margin-left: 10px;}