#container, #weekly_pinned_bar, #calender_bar,.add_task {display: flex;}

aside, main {
    display: flex;
    flex-direction: column;
}

aside {
    height: 100vh; 
    background: #f6f7fb;
    background-blend-mode: normal;
}

aside .header{
    height: 16.9vh;
}

aside .footer {
    height: 28.8vh;
}