body {margin:0px;}

#container, #weekly_pinned_bar, #calender_bar {display: flex;}

aside, main {
    display: flex;
    flex-direction: column;
}

aside {
    width: 477px;
    height: 100vh; 
    background: #f6f7fb;
    background-blend-mode: normal;
}

#add_task {
    display: flex;
    align-items: center;
}

.bar {
    justify-content: center;
    align-items: center;
}